/* .RIDHI{
    font-size: 40px;
    font-weight: 600;
    color: #77b900;
}
.TEK{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}
.navbar{
    background-color: #010135;
  
    
  
    
}
.navbar .nav-link{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;

}
.navbar-toggler .fa-bars{
    color: #ffffff;
} 
.navbar-nav{
    padding: 20px;
} */